.level.is-hidden-mobile
  .level-item.has-text-centered
    %div
      %p.heading Total Posts
      %p.title= @posts.length
  .level-item.has-text-centered
    %div
      %p.heading Total Post Length
      %p.title= @comments.join.size
  .level-item.has-text-centered
    %div
      %p.heading Average Post Length
      %p.title= (@comments.join.size / @comments.size.to_f).round(1)